/* Heading Section */

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
}

body {
  font-family: 'Montserrat';
}

p {
  color: grey;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

.heading {
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15% 7.2%;
}

.title-img {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 28%;
}

.title-img1 {
  position: relative;
}

/* Nav Bar */

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  padding-bottom: 4.5rem;
}

.nav-item {
  padding: 0 15px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 300;
}

/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Feature Section */

#features {
  padding: 7% 15%;
  background-color: white;
  position: relative;
}

.feature-box {
  padding: 5%;
  text-align: center;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #FF6F5E;
}

/* Testimonial Section */
#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: white;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 15px;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

#press {
  background-color: #ef8172;
  padding-bottom: 2.75%;
  text-align: center;
}

.press-logo {
  width: 14%;
  margin: 20px 20px 40px;
}

/* Pricing Section */
#pricing {
  padding: 80px 100px 100px 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.section-header {
  font-size: 3rem;
  line-height: 1.5;
}

/* CTA Section */

#cta {
  background-color: #ff4c68;
  color: white;
  padding: 7% 15%;
  text-align: center;
}

.cta-header {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 4.89rem;
}

/* Footer Section */

#footer {
  padding: 5% 15%;
  text-align: center;
}

.social-icons {
  margin: 20px 8px;
}

/* Media Querry (for smaller devices) */

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .nav-link {
    text-align: right;
  }

  .title-img {
    position: static;
    transform: rotate(0);
  }
}
